*, *:before, *:after {
  -webkit-box-sizing: border-box; box-sizing: border-box;
 }

@font-face {
  font-family: "source code pro";
  src: url("fonts/SourceCodePro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-black-italic";
  src: url("fonts/Roboto-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

header#clear-code-header {
  font-family: "roboto-black-italic";
  border-bottom: 3px solid #DBDADA;
  font-size: 19px;
  color: white;
  text-align: right;
  padding-right: 50px;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  background-color: #598ad8;
  z-index: 2;
  border-right: 5px solid #DBDADA;
}

header#clear-code-header::after {
  background-color: rgba(222, 231, 0, 0.44);
  box-shadow: inset 2px 1px 15px rgba(0, 0, 0, 0.83);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.68);
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

#clear-code-title {
  font-family: 'roboto-black-italic';
  line-height: 20px;
  color: #F1F1F1;
  padding: 10px;
  position: absolute;
  left: 0px;
  border-right: 5px solid #DBDADA;
  font-size: 22px;
  margin: 0px;
  background-color: rgba(222, 231, 0, 0.44);
  box-shadow: inset 2px 1px 15px rgba(0, 0, 0, 0.83);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.68);
}

button#close {
  position: absolute;
  padding-right: 0px;
  right: 6px;
  border: none;
}

header button {
  font-family: "roboto-black-italic";
  margin: 4px 3px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.45);
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 19px;
  line-height: 20px;
  color: #FFF;
}

#clear-code-pre {
  font-family: 'Roboto';
  font-size: 13px;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 50px;
  right: 0;
  margin: 0 0 0 0;
  padding: 20px 20px 10px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 3px 4px 15px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 4px 15px inset;
}

#clear-code-code {
  position: relative;
  overflow: visible;
  padding: 0px 0px 0px 0px;
  top: 0px;
  left: 0px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #363633;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 12px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 12px inset;
}

::-webkit-scrollbar-corner {

}

html, body {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background-color: #363633;
}


button.clear-code {
  display: none;
}

.large {
  font-size: 20px;
}
