button.code-respect {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 0;
  background: #eee;
  border: 1px solid #333;
  border-radius: 3px;
}

#code-respect-frame {
  position: fixed;
  z-index: 9999;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #eee;
  text-align: left;
  padding:10px;
  border: 0;
  border-radius: 3px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 50px, rgba(0, 0, 0, 0.33) 3px 3px 9px;
  overflow: hidden;
}
