@font-face {
  font-family: "source code pro";
  src: url("fonts/SourceCodePro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

#code-respect-header {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background-color: #598ad8;
}

button#code-respect-pre-hide {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 0;
  background: #eee;
  border: 1px solid #333;
  border-radius: 3px;
}

#code-respect-pre {
  font-family: 'source code pro';
  font-size: 13px;
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

#code-respect-code {
  -webkit-box-sizing: border-box; box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
}

body {
  width: 700px;
  height: 300px;
}


button.code-respect {
  display: none;
}
