<!DOCTYPE html>
<html  ng-app="ClearCodeApp" ng-strict-di="" ng-csp="">

  <head ng-controller="ClearCodeHeadController">

    <meta charset="utf-8">

    <link rel="stylesheet" href="clear-code-frame.css">
    <link rel="stylesheet" ng-href="{{ css.highlighter }}" >
    <link rel="stylesheet" href="fonts/fontello/css/fontello.css">

    <script src="highlight/highlight.pack.js"></script>

  </head>
  <body ng-controller="ClearCodeFrameController">

    <header id='clear-code-header'>
      <span id="clear-code-title">Clear Code</span>

      Beautifiers:
      <button ng-click="formatCode('js')" ng-class="{ active: active_beau === 'js'}">JS</button>
      <button ng-click="formatCode('html')" ng-class="{ active: active_beau === 'html'}">HTML</button>
      <button ng-click="formatCode('css')" ng-class="{ active: active_beau === 'css'}">CSS</button>
      <button ng-click="formatCode()" style="margin-right: {{ menu_margin }}px"><i class="icon-ccw"></i></button>

      <button ng-click="closeFrame()" id='close'>
        <i class="icon-close"></i>
      </button>
    </header>

    <div id="clear-code-container" class="hljs" style="left: {{ margins }}px; right: {{ margins }}px">
      <pre id='clear-code-pre'>
        <code id='clear-code-code' format-code></code>
      </pre>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-chrome-options/app/js/chrome-options-service.js"></script>
    <script src="bower_components/angular-chrome-options/app/js/chrome-options-config.js"></script>
    <script src="bower_components/angular-resolver/resolver_service.js"></script>

    <script src="bower_components/js-beautify/js/lib/beautify-css.js"></script>
    <script src="bower_components/js-beautify/js/lib/beautify-html.js"></script>
    <script src="bower_components/js-beautify/js/lib/beautify.js"></script>

    <script src="clear-code-app.js"></script>
    <script src="clear-code-frame-controller.js"></script>
    <script src="clear-code-head-controller.js"></script>
    <script src="clear-code-format-code-directive.js"></script>

  </body>
</html>
