@font-face {
  font-family: "source code pro";
  src: url("fonts/SourceCodePro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-black-italic";
  src: url("fonts/Roboto-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

#content {
  font-family: 'roboto-black-italic';
  color: #B4B698;
  width: 700px;
  margin: 0 auto;
}

#re-view-title {
  font-size: 60px;
}

#re-view-sub-title {
  font-size: 20px;
  margin-left: 260px;
}

option {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
}

select {
  -webkit-appearance: none;
  font-family: 'roboto';
  padding: 2px 50px 2px 2px;
  color: #797979;
  border-radius: 12px;
  border: 1px solid #CACACA;
  background-color: transparent;
}

select-arrow {
  width: 0;
  height: 0;
  top: 7px;
  right: 10px;
  position: absolute;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #B4B698 transparent transparent transparent;
}

.select-label {
  position: relative;
}
