<!DOCTYPE html>
<html html lang="en" ng-app="Options" ng-strict-di="" ng-csp="">
<head ng-controller="HeadController">

  <meta charset="utf-8">
  <title>Code ReView Options</title>

  <link rel="stylesheet" href="clear-code-options.css">
  <link rel="stylesheet" ng-href="{{ highlighterStyle.url }}" >
  <link rel="stylesheet" href="../fonts/fontello/css/fontello.css">

  <script src="../highlight/highlight.pack.js"></script>

</head>
<body ng-controller="OptionsController">
  <nav>
    <h1 id="name">Clear Code</h1>
    <ul>
      <li ng-repeat="item in menu" ng-class="{ 'li-active': item == active.name }"><button ng-bind="item" ng-click="makeActive(item)"></button></li>
    </ul>
  </nav>

  <header><h1 ng-bind="active.name"></h1></header>

  <div id="main-content" ng-switch="active.name">

    <section ng-switch-when="JS Beautifier">
      <h3>Options</h3>

        <span class="option-input">
          <input ng-model="js_beautifier.indent_size" min="1" max="8" ng-required="true" type="number">
          <label> Indent Size</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.indent_char" ng-maxlength="1">
          <label> Indent Char</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.indent_level" type="number">
          <label> Indent Level</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.wrap_line_length" type="number">
          <label> Wrap Line Length</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.brace_style">
          <label> Brace Style</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.max_preserve_newlines" type="number">
          <label> Max Preserve Newlines</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.preserve_newlines" type="checkbox">
          <label> Preserve Newlines</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.indent_with_tabs" type="checkbox">
          <label> Indent with Tabs</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.jslint_happy" type="checkbox">
          <label> JSLint Happy</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.keep_array_indentation" type="checkbox">
          <label> Keep Array Indentation</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.keep_function_indentation" type="checkbox">
          <label> Keep Function Indentation</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.space_before_conditional" type="checkbox">
          <label> Space Before Conditional</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.break_chained_methods" type="checkbox">
          <label> Break Chained Methods</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.eval_code" type="checkbox">
          <label> Eval Code</label>
        </span>
        <span class="option-input">
          <input ng-model="js_beautifier.unescape_strings" type="checkbox">
          <label> Unescape Strings</label>
        </span>


        <button class="reset" ng-click="resetJS()">Reset</button>

    </section>

    <section ng-switch-default>
      <h3>Style</h3>
      <select ng-model="highlighterStyle.active" ng-options="option as option for option in options"></select>
      <button ng-mouseup="selectUp()" ng-disabled="highlighterStyle.active == options[0]"><i class="icon-up-dir"></i></button>
      <button ng-click="selectDown()" ng-disabled="highlighterStyle.active == options[options.length - 1]"><i class="icon-down-dir"></i></button>

      <pre>
        <code sample-code></code>
      </pre>



    </section>

  </div>

  <script src="../scripts/libs.js"></script>
  <script src="clear-code-options.js"></script>
</body>
</html>
