body {
  font-family: 'DejaVu Sans', Arial, sans-serif;
  font-size: 12px;
  cursor: default;
  margin: 0;
  color: #303942;
}

:focus {outline:none;}

p {
  line-height: 1.8em;
}

h1,
h2,
h3 {
  -webkit-user-select: none;
  font-weight: normal;
  /* Makes the vertical size of the text the same for all fonts. */
  line-height: 1;
}

h1 {
  font-size: 1.5em;
  -webkit-margin-before: 21px;
  color: #5C6166;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 0.4em;
}

h3 {
  color: #757575;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

a {
  color: rgb(17, 85, 204);
  text-decoration: underline;
}

a:active {
  color: rgb(5, 37, 119);
}

#name {
  -webkit-margin-after: 1em;
  -webkit-margin-before: 21px;
  -webkit-margin-start: 23px;
}

li button {
  background-color: #FFF;
  border: 0;
  color: #999;
  cursor: pointer;
  font: inherit;
  line-height: 1.417em;
  margin: 6px 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  -webkit-padding-start: 18px;
  -webkit-user-select: none;
  cursor: pointer;
  border-left: 7px solid transparent;
}

li.selected {
  -webkit-border-start-color: rgb(78, 87, 100);
  cursor: default;
  pointer-events: none;
}

header {
  left: 155px;
  max-width: 738px;
  min-width: 600px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid rgba(177, 177, 177, 0.25);
  background-color: #fff;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
}

#main-content {
  left: 155px;
  min-width: 600px;
  position: absolute;
  padding-top: 55px;
  right: 0;
  top: 0;
  z-index: 3;
  opacity: 1;
  z-index: 2;
}

#main-content button {
  min-height: 1.7em;
  color: #444;
  padding: 0px 6px;
}

select {
  min-height: 1.7em;
  min-width: 4em;
  color: #444;
  margin-left: 26px;
  padding: 0px 7px;
}

section {

}

.li-active button {
  color: #313131;
}

.li-active {
  border-left: 7px solid #313131;
}

pre {
  max-width: 738px;
  min-width: 600px;
}

.option-input, .reset {
  display: block;
  margin-left: 26px;
  padding: 1px 0;
}

.reset {
  margin-top: 14px;
}

input[type="number"] {
  padding: 0 0 0 5px;
}

code {
  padding: 25px !important;
}
