<!DOCTYPE html>
<html html lang="en" ng-app="OptionsApp" ng-strict-di="" ng-csp="">
<head ng-controller="HeadController">

  <meta charset="utf-8">
  <title>Code ReView Options</title>

  <link rel="stylesheet" href="clear-code-options.css">
  <link rel="stylesheet" ng-href="{{ css_href }}" >
  <link rel="stylesheet" href="../fonts/fontello/css/fontello.css">

  <script src="../highlight/highlight.pack.js"></script>

</head>
<body ng-controller="OptionsController">
  <nav>
    <h1 id="name">Clear Code</h1>
    <ul>
      <li ng-repeat="id in menu" ng-class="{ 'li-active': id == page_id }"><button ng-bind="id" ng-click="showPage(id)"></button></li>
    </ul>
  </nav>

  <header><h1 ng-bind="page_id"></h1></header>

  <div id="main-content" ng-switch="page_id">

    <section ng-switch-default>
      <h3>Style</h3>

      <span class="option-input">
        <select ng-model="highlighterStyle.active" ng-options="option as option for option in style_options"></select>
        <button ng-mouseup="selectUp()" ng-disabled="highlighterStyle.active == options[0]"><i class="icon-up-dir"></i></button>
        <button ng-click="selectDown()" ng-disabled="highlighterStyle.active == options[options.length - 1]"><i class="icon-down-dir"></i></button>
      </span>

      <pre>
        <code sample-code></code>
      </pre>

    </section>

    <section ng-switch-when="JS Beautifier">
      <h3>Options</h3>

      <options-section options="js_beautifier_defaults" model="js_beautifier"></options-section>

    </section>

    <section ng-switch-when="HTML Beautifier">
      <h3>Options</h3>

      <options-section options="html_beautifier_defaults" model="html_beautifier"></options-section>

    </section>

    <section ng-switch-when="CSS Beautifier">
      <h3>Options</h3>

      <options-section options="css_beautifier_defaults" model="css_beautifier"></options-section>

    </section>

  </div>

  <script src="../scripts/libs.js"></script>
  <script src="options-app.js"></script>
  <script src="options-default-values.js"></script>
  <script src="options-service.js"></script>
  <script src="options-head-controller.js"></script>
  <script src="options-controller.js"></script>
  <script src="titelize-filter.js"></script>
  <script src="options-section-directive.js"></script>
  <script src="sample-code-directive.js"></script>
  <script src="angular-resolver.js"></script>

</body>
</html>
